<!DOCTYPE html>
<html lang="pt-br" dir="ltr">
<head>
    <meta charset="UTF-8">
    <title>Filmes</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/estilo.css">
</head>

<body class="pgi">

    <header class="cabeç">
        <nav>
            <img src="/static/Black Red White Illustration Clapperboard  Frame  Creative Studio Logo.png" alt="logo">

            <div class="itens-menu">
                <a href="index.html">Home</a>
                <a href="/">Adicionar filme</a>
            </div>
        </nav>
    </header>

<body>
        <div>
            <form action="/adicionar_filme" method="post">

                <div class="grupo">
                    <label for="nome">Nome do filme:</label>
                    <input type="text" id="nome" name="nome" required>
                </div>

                <div class="grupo">
                    <label for="genero">Genêro do filme:</label>
                    <input type="text" id="genero" name="genero" required>
                </div>

                <div class="grupo">
                    <label for="autor">Autor do filme:</label>
                    <input type="text" id="autor" name="autor" required>
                </div>

                <div class="grupo">
                    <button type="submit">SALVAR</button>
                </div>
            </form>

        </div>

</body>
</html>